* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 23rem;
  left: 2rem;
  z-index: 9999;
}

.rentacar {
  width: 100%;
}